ul {
	display: flex;
	margin: 0px 160px;
	width: 70%;
}
ul li {
	margin-right: 50px;
	font-weight: 500;
}

img {
	width: 50%;
	height: 100%;
}

.logo {
	width: 80%;
	margin-bottom: 20px;
}

.search {
	display: flex;
	margin-right: 0 0;
	width: 75%;
	margin-bottom: 2em;
}

.searchbox {
	width: 100%;
	margin-right: 12px;
}

.searchbox input {
	width: 100%;
	padding: 16px;
	background-color: white;
	border-radius: 50px;
	border: 0;
	color: black;
}

.searchbox input::placeholder {
	font-family: Poppins, sans-serif;
}

.submit button {
	background-color: #ffdd95;
	border-radius: 50%;
	padding: 12px 15px;
}

.search-icon {
	color: black;
}

.clearfix {
	width: 75%;
}

.clearfix p {
	margin-right: 20px;
}

.aniwatch {
	width: 90%;
}

.aniwatch img {
	width: 120%;
	margin-left: -200px;
}

.last {
	margin-left: 160px;
}

.last .site {
	background-color: #ffdd95;
	padding: 20px;
	width: 90%;
	border-radius: 0 0 40px 40px;
	font-size: large;
	color: black;
	font-weight: 600;
}

.last .site {
	display: flex;
	justify-content: center;
}

.last .site li {
	margin-left: 10px;
}

li {
	list-style: none;
}

button {
	cursor: pointer;
}
